body {
    font-family: sans-serif;
    background-color: white;
    direction: rtl;
    width:100vw;
    height:100vh;
}

html{
    width:100vw;
    height:100vh;
}
#userDetailsID{
    width: 10vw;
    float: right;
    height: 100%;
}
#userDetID{
    width: 10vw;
    float: top;
    color: #2093B4;
    height: 10%;
    margin-right:10%;
}
#userimgID
{
    margin-top: 2%;
    margin-right: 35%;
    width: 30%;
    height: 60%;
}
#outlineID{
    width: 100vw;
    height: 10vh;
    background-color: #E6E7E9;

}
.outlineBtn{
    width: 10vw;
    height: 100%;
    background-color: #E6E7E9;
    border: none;
    color: #2093B4;
    float: left;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 100%;
}
.outlineBtn:hover {
    background-color: rgba(32, 148, 180, 0.486);
    color: white;
}
#projectDataID{
    width: 100vw;
    height: 90vh;
}
#projectNameID
{
    color: #2093B4;
    font-size: 120%;
    float: right;
    margin-right: 3%;
    margin-top: 3%;
}
.projecBtn{
    width: 2vw;
    height: 4vh;
    background-color: #E6E7E9;
    border: none;
    color: #2093B4;
    float: right;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 100%;
    margin-right: 1%;
    margin-top: 3%;
}
.projecBtn:hover {
    background-color: #2093B4;
    color: white;
}
#addProductBtnID{
    width: 15px;
    height:15px;
}
#editProjectBtnID{
    width: 15px;
    height:15px;
}
.productsID
{
    width: 100%;
    height: 10%;
}
.productsDataID{
    margin-top: 3%;
    margin-right: 1%;
    width: 94%;
    height: 100%;
    border-color: #2093B4;
    border-style: solid;
    border-radius: 3px;
    border-width:1px;
    float: right;
}
#projectOutlineID{
    width: 100%;
    height: 10%;
}

.productBtn{
    width: 2vw;
    height: 4vh;
    background-color: #E6E7E9;
    border: none;
    color: #2093B4;
    float: right;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 100%;
    margin-right: 1%;
    margin-top: 5.5%;
}
.productBtn:hover {
    background-color: rgba(32, 148, 180, 0.486);
    color: white;
}
.product{
    margin-top: 0.5%;
    margin-right: 0.5%;
    width: 10%;
    height: 55%;
    border-color: #2093B4;
    float: right;
}
.productName{
    margin-top:0.2%;
    text-align: center;
    font-size: 150%;
    border-style: solid;
    border-radius: 3px;
    border-width:1px;
    color: #2093B4;
}
.productComment{
    text-align: center;
    font-size: 100%;
    color: #2093B4;
    float: right;
}
.milestone{
    margin-top: 0.5%;
    margin-right: 0.5%;
    width: 10%;
    height: 55%;
    border-color: #2093B4;
    float: right;
}
/*.milestoneDateDiv{*/
    /*text-align: center;*/
    /*font-size: 100%;*/
    /*color: #2093B4;*/
    /*border-style: solid;*/
    /*border-radius: 3px;*/
    /*border-width:1px;*/
/*}*/
.milestoneComment{
    text-align: center;
    font-size: 100%;
    color: #2093B4;
    float: right;
    padding-top: 2%;
}
.milestonestatus{
    padding-top: 1%;
    margin-top:2%;
    color: #2093B4;
    float: left;
}
.milestoneEnd{
    margin-top: 0.5%;
    margin-left: 0.5%;
    width: 10%;
    height: 55%;
    border-color: #2093B4;
    float: left;
}




/*body {*/
    /*font-family: sans-serif;*/
    /*!*color: #333;*!*/
   /*background-color: rgb(146, 215, 68);*/
    /*!*background-color: coral;*!*/
    /*direction: rtl;*/
/*}*/
/*#aside{*/
    /*margin-right: -8px;*/
    /*margin-top: -8px;*/
    /*float: right;*/
    /*display: inline;*/
    /*height: 102%;*/
    /*width: 18%;*/
    /*background-color: rgb(215,207,198);*/
    /*!*background-color: beige;*!*/
/*}*/
/*#main{*/
    /*float: left;*/
    /*height: 85%;*/
    /*width: 82%;*/
    /*!*background-color: rgb(255,255,255);*!*/
    /*!*background-color: burlywood;*!*/
/*}*/
/*#top{*/
    /*height: 15%;*/
    /*width: 100%;*/
    /*!*background-color: darkgreen;*!*/
/*}*/
/*#projects{*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*!*background-color: darkcyan;*!*/
/*}*/
/*#projectItem{*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*margin-bottom: 5px;*/
    /*background-color: rgb(215,207,198);*/
/*}*/
/*#addProjectBtn{*/

    /*height: 30px;*/
    /*width: 30px;*/
    /*background-color: #cccccc;*/
    /*text-decoration: none;*/
/*}*/
/*#products{*/
    /*padding: 5px;*/
    /*height: 100%;*/
    /*width: 98%;*/
    /*!*background-color: gold;*!*/
/*}*/
/*#productItem{*/
    /*padding: 5px;*/
    /*height: 98%;*/
    /*width: 250px;*/
    /*display: inline-table;*/
    /*background-color: #fefefe;*/
    /*!*background-color: brown;*!*/
/*}*/
/*#productName {*/
    /*padding: 5px;*/
    /*margin-bottom: 5px;*/
    /*height: 20px;*/
    /*border: rgb(67,83,99);*/
    /*border-style: solid;*/
    /*border-width: 2px;*/
/*}*/
/*#productResponsibleWriter{*/
    /*padding: 5px;*/
    /*margin-bottom: 5px;*/
    /*height: 20px;*/
    /*border: rgb(67,83,99);*/
    /*border-style: solid;*/
    /*border-width: 2px;*/
/*}*/
/*#addProductBtn{*/
    /*padding: 5px;*/
    /*display: inline;*/
    /*height: 30px;*/
    /*width: 30px;*/
    /*background-color: #fefefe;*/
    /*text-decoration: none;*/
/*}*/

/*#milestons{*/
    /*padding: 5px;*/
    /*height: 80%;*/
    /*background-color: rgb(215,207,198);*/
    /*!*background-color: aquamarine;*!*/
/*}*/

/*#milestonItem{*/
    /*margin-bottom: 10px;*/
    /*padding: 5px;*/
    /*height: 100px;*/
    /*border: rgb(67,83,99);*/
    /*border-style: solid;*/
    /*border-width: 2px;*/
    /*background-color: #fefefe;*/
    /*!*background-color: rgb(215,207,198);*!*/
/*}*/
/*#milestonName{*/
    /*padding: 5px;*/
    /*margin-bottom: 5px;*/
    /*height: 20px;*/
    /*border: rgb(67,83,99);*/
    /*border-style: solid;*/
    /*border-width: 2px;*/
/*}*/
/*#milestonToDoDate{*/
    /*padding: 5px;*/
    /*margin-bottom: 5px;*/
    /*height: 20px;*/
    /*border: rgb(67,83,99);*/
    /*border-style: solid;*/
    /*border-width: 2px;*/
/*}*/

/*#addMilestonBtn{*/
    /*margin-top: 5px;*/
    /*padding: 5px;*/
    /*display: inline;*/
    /*height: 30px;*/
    /*width: 30px;*/
    /*background-color: #fefefe;*/
    /*text-decoration: none;*/
/*}*/






















/*!*em {*!*/
    /*!*font-style: normal;*!*/
/*!*}*!*/

/*!*a {*!*/
    /*!*text-decoration: none;*!*/
/*!*}*!*/

/*!*!* Layout *!*!*/
/*!*.s-layout {*!*/
    /*!*display: flex;*!*/
    /*!*width: 100%;*!*/
    /*!*min-height: 100vh;*!*/
/*!*}*!*/

/*.s-layout__content {*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex: 1;*/
/*}*/

/*!*!* Sidebar *!*!*/
/*!*.s-sidebar__trigger {*!*/
    /*!*z-index: 2;*!*/
    /*!*position: fixed;*!*/
    /*!*top: 0;*!*/
    /*!*left: 0;*!*/
    /*!*width: 100%;*!*/
    /*!*height: 2em;*!*/
    /*!*background: #67bbff;*!*/
/*!*}*!*/

/*!*.s-sidebar__trigger > i {*!*/
    /*!*display: inline-block;*!*/
    /*!*margin: 1.5em 0 0 1.5em;*!*/
    /*!*color: #f07ab0;*!*/
/*!*}*!*/

/*!*.s-sidebar__nav {*!*/
    /*!*position: fixed;*!*/
    /*!*top: 0;*!*/
    /*!*left: -15em;*!*/
    /*!*overflow: hidden;*!*/
    /*!*transition: all .3s ease-in;*!*/
    /*!*width: 15em;*!*/
    /*!*height: 100%;*!*/
    /*!*background: #dcf5ff;*!*/
    /*!*color: darkblue;*!*/
/*!*}*!*/

/*!*.s-sidebar__nav:hover,*!*/
/*!*.s-sidebar__nav:focus,*!*/
/*!*.s-sidebar__trigger:focus + .s-sidebar__nav,*!*/
/*!*.s-sidebar__trigger:hover + .s-sidebar__nav {*!*/
    /*!*left: 0;*!*/
/*!*}*!*/

/*!*.s-sidebar__nav ul {*!*/
    /*!*position: absolute;*!*/
    /*!*top: 4em;*!*/
    /*!*left: 0;*!*/
    /*!*margin: 0;*!*/
    /*!*padding: 0;*!*/
    /*!*width: 15em;*!*/
/*!*}*!*/

/*!*.s-sidebar__nav ul li {*!*/
    /*!*width: 100%;*!*/
/*!*}*!*/

/*!*.s-sidebar__nav-link {*!*/
    /*!*position: relative;*!*/
    /*!*display: inline-block;*!*/
    /*!*width: 100%;*!*/
    /*!*height: 2em;*!*/
/*!*}*!*/

/*!*.s-sidebar__nav-link em {*!*/
    /*!*position: absolute;*!*/
    /*!*top: 50%;*!*/
    /*!*left: 4em;*!*/
    /*!*transform: translateY(-50%);*!*/
/*!*}*!*/

/*!*.s-sidebar__nav-link:hover {*!*/
    /*!*background: lightskyblue;*!*/
/*!*}*!*/

/*!*.s-sidebar__nav-link > i {*!*/
    /*!*position: absolute;*!*/
    /*!*top: 0;*!*/
    /*!*left: 0;*!*/
    /*!*display: inline-block;*!*/
    /*!*width: 4em;*!*/
    /*!*height: 2em;*!*/
/*!*}*!*/

/*!*.s-sidebar__nav-link > i::before {*!*/
    /*!*position: absolute;*!*/
    /*!*top: 50%;*!*/
    /*!*left: 50%;*!*/
    /*!*transform: translate(-50%, -50%);*!*/
/*!*}*!*/

/*!*!* Mobile First *!*!*/
/*@media (min-width: 42em) {*/
    /*.s-layout__content {*/
        /*margin-left: 4em;*/
    /*}*/

    /*!* Sidebar *!*/
    /*.s-sidebar__trigger {*/
        /*width: 4em;*/
    /*}*/

    /*.s-sidebar__nav {*/
        /*width: 4em;*/
        /*left: 0;*/
    /*}*/

    /*.s-sidebar__nav:hover,*/
    /*.s-sidebar__nav:focus,*/
    /*.s-sidebar__trigger:hover + .s-sidebar__nav,*/
    /*.s-sidebar__trigger:focus + .s-sidebar__nav {*/
        /*width: 15em;*/
    /*}*/
/*}*/

/*@media (min-width: 68em) {*/
    /*.s-layout__content {*/
        /*margin-left: 15em;*/
    /*}*/

    /*!* Sidebar *!*/
    /*.s-sidebar__trigger {*/
        /*display: none*/
    /*}*/

    /*.s-sidebar__nav {*/
        /*width: 15em;*/
    /*}*/

    /*.s-sidebar__nav ul {*/
        /*top: 1.3em;*/
    /*}*/
/*}*/

/*!*img.avatar {*!*/
    /*!*width: 40%;*!*/
/*!*}*!*/


/*!*.AddBtn {*!*/
    /*!*text-align: center;*!*/
/*!*}*!*/

/*input[type=text] {*/
    /*width: 100%;*/
    /*padding: 12px 20px;*/
    /*margin: 8px 0;*/
    /*display: inline-block;*/
    /*border: 1px solid #ccc;*/
    /*box-sizing: border-box;*/
    /*text-align: right;*/
/*}*/

/*.box {*/
    /*width: 10%;*/
    /*margin: 0 auto;*/
    /*background: rgba(255,255,255,0.2);*/
    /*background-clip: padding-box;*/
    /*text-align: center;*/
/*}*/

/*!*.button {*!*/
    /*!*font-size: 1em;*!*/
    /*!*padding: 10px;*!*/
    /*!*color: #fff;*!*/
    /*!*border: 2px solid #5a68d8;*!*/
    /*!*text-decoration: none;*!*/
    /*!*cursor: pointer;*!*/
    /*!*transition: all 0.02s ease-out;*!*/
/*!*}*!*/
/*!*.button:hover {*!*/
    /*!*background: #55a5d8;*!*/
/*!*}*!*/
/*!*button {*!*/
    /*!*background-color: #2fa7ed;*!*/
    /*!*color: white;*!*/
    /*!*padding: 10px 20px;*!*/
    /*!*margin: 10px 0;*!*/
    /*!*border: none;*!*/
    /*!*cursor: pointer;*!*/
    /*!*width: 90%;*!*/
    /*!*position: absolute;*!*/
    /*!*bottom: 5px;*!*/
/*!*}*!*/

/*!*button:hover {*!*/
    /*!*opacity: 0.8;*!*/
/*!*}*!*/
/*.overlay {*/
    /*position: fixed;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*background: rgba(0, 0, 0, 0.3);*/
    /*transition: opacity 500ms;*/
    /*visibility: hidden;*/
    /*display: none;*/
    /*opacity: 0;*/
/*}*/
/*.overlay:target {*/
    /*visibility: visible;*/
    /*display: block;*/
    /*opacity: 1;*/
/*}*/

/*.popup {*/
    /*margin: 5% auto;*/
    /*padding: 20px;*/
    /*background: #fff;*/
    /*width: 25%;*/
    /*height: 55%;*/
    /*position: relative;*/

/*}*/

/*.popup h2 {*/
    /*margin-top: -10px;*/
    /*color: #333;*/
    /*font-family: Tahoma, Arial, sans-serif;*/
/*}*/
/*.popup .close {*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*left: 15px;*/
    /*transition: all 200ms;*/
    /*font-size: 30px;*/
    /*font-weight: bold;*/
    /*text-decoration: none;*/
    /*color: #333;*/
/*}*/
/*.popup .close:hover {*/
    /*color: #2fa7ed;*/
/*}*/
/*.popup .content {*/
    /*max-height: 78%;*/
    /*overflow: auto;*/
/*}*/

/*!*@media screen and (max-width: 700px){*!*/
    /*!*.box{*!*/
        /*!*width: 70%;*!*/
    /*!*}*!*/
    /*!*.AddProjectBtn{*!*/
        /*!*width: 70%;*!*/
    /*!*}*!*/
    /*!*.AddProductBtn{*!*/
        /*!*width: 70%;*!*/
    /*!*}*!*/
    /*!*.AddMailstonBtn{*!*/
        /*!*width: 70%;*!*/
    /*!*}*!*/
    /*!*.popup{*!*/
        /*!*width: 70%;*!*/
    /*!*}*!*/
/*!*}*!*/