body {
    font-family: sans-serif;
    background-color: white;
    direction: rtl;
    width:100vw;
    height:100vh;
}
button{
    -webkit-appearance: none;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    /*text-indent: 0px;*/
    text-shadow: none;
    /*display: none;*/
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: white;
    box-sizing: initial;
    /*font: 400 13.3333px Arial;*/
    border: none;

}
html{
	width:100vw;
    height:100vh;
}
#userDetailsID{
    width: 40vw;
    float: right;
    height: 100%;
}
#userDetID{

    color: #2093B4;
    height: 10%;
    margin-right:10%;
    margin-top: 29px;

}
#userimgID
{
    margin-top: 2%;
    margin-right: 35%;
    width: 30%;
    height: 60%;
}
#outlineID{
    width: 100vw;
    height: 10vh;
    background-color: #E6E7E9;

}
.outlineBtn{
    width: 10vw;
    height: 97%;
    background-color: #E6E7E9;
    border: none;
    color: #2093B4;
    float: left;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    font-size: 100%;
}
.outlineBtn:hover {
    background-color:  #2093B4;
    color: white;
  }
#projectDataID{
    width: 100vw;
    height: 90vh;
}
#projectID
{
    color: #2093B4;
    font-size: 120%;
    float: right;
    margin-right: 3%;
    margin-top: 3%;
}
#projectName{
    color: #2093B4;
    font-size: 120%;
    float: right;
    margin-right: 3%;
    margin-top: 3%;
}

.productEditBtn:focus{
    outline: none;
}
#addProductBtnID{
    width: 15px;
    height:15px;
}
#editProjectBtnID{
    width: 15px;
    height:15px;

}

.productsID
{
    width: 100%;
    height: 10%;
    margin-top: 5px;
}
.productsDataID{
    margin-top: 1%;
    margin-right: 1%;
    width: 94%;
    height: 80%;
    border-color: black;
    border-style: solid;
    border-radius: 3px;
    border-width:1px;
    float: right;
}
#projectOutlineID{
    width: 100%;
    height: 10%;
}

.productEditBtn{
    clear: both;
    width: 30px;
    height: 30px;
    border: none;
    color: #2093B4;
    background-color: white;
    float: right;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 100%;
    margin-right: 1%;
    margin-top: 3%;
}
.productEditBtn:hover {
    color: black;
}
.product{
    margin-top: 0.5%;
    margin-right: 0.5%;
    margin-left: 1%;
    width: 20%;
    height: 55%;
    border-color: #2093B4;
    float: right;
}
.productName{
    margin-top:0.2%;
    height: 50%;
    padding: 1.3%;
    text-align: center;
    font-size: 100%;
    border-style: solid;
    border-radius: 3px;
    border-width:1px;
    border-color: #2093B4;
    color: black;
}
.productComment{
    text-align: center;
    font-size: 100%;
    color: #2093B4;
    float: right;
}
.milestone{
    margin-top: 0.5%;
    margin-right: 0.5%;
    width: 10%;
    height: 55%;
    border-color: #2093B4;
    float: right;
}
.milestoneDateDiv{
    height: 50%;
    padding: 2.5%;
    text-align: center;
    font-size: 100%;
    border-color: #2093B4;
    color: black;
    border-style: solid;
    border-radius: 3px;
    border-width:1px;
}
.milestoneComment{
    text-align: center;
    font-size: 100%;
    color: #2093B4;
    float: right;
    padding-top: 2%;
}
.milestonestatus{
    padding-top: 1%;
    margin-top:2%;
    color: #2093B4;
    float: left;
}
.milestoneEnd{
    margin-top: 0.5%;
    margin-left: 0.5%;
    width: 10%;
    height: 55%;
    border-color: #2093B4;
    float: left;
}

#addProductBtn{

    width: 23px;
    /*height: 30px;*/
    color: #2093B4;
    border-width: 1px ;
    border-radius: 5px;
    border-color: #2093B4;
    border-style: solid;
    background-color: white;
    float: right;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 150%;
    margin-right: 1%;
    margin-top: 170%;
}
#addProductBtn:hover {
    /*background-color: rgba(32, 148, 180, 0.486);*/
    background-color: #2093B4;
    color: white;
    cursor: pointer;
}
#addProductBtn:focus{
    outline: none;
}

/* Layout */
.s-layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.s-layout__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: opacity 500ms;
    visibility: hidden;
    display: none;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    display: block;
    opacity: 1;
}

.popup {
    margin: 5% auto;
    padding: 20px;
    background: #fff;
    width: 25%;
    height: 75%;
    position: relative;

}

.popup h2 {
    margin-top: -10px;
    color: #2093B4;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 10px;
    left: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #2093B4;
}
.popup .content {
    max-height: 83%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: right;
}

input[type=text]{
    clear: both;
    width: 100%;
    height: 35px;
    padding: 12px 20px;
    margin-top: 10px;
    display: inline-block;
    border-width: 1px ;
    border-radius: 5px;
    border-color: #2093B4;
    border-style: solid;
    /*box-sizing: border-box;*/
    text-align: right;
}

select {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: right;
    padding: inherit;
    padding-right: 15px;
}

select{
    clear: both;
    width: 100%;
    height: 35px;
    padding:inherit;
    padding-right:15px ;
    margin-top: 10px;
    display: inline-block;
    border-width: 1px ;
    border-radius: 5px;
    border-color: #2093B4;
    border-style: solid;
    /*box-sizing: border-box;*/
    text-align: right;
}
input:focus{
    outline: none;
}
.milestoneWrapper{
    border-width: 1px ;
    border-radius: 5px;
    border-color: #2093B4;
    border-style: solid;
}
input[type=date]{
    clear: both;
    width: 100%;
    height: 35px;
    padding: 12px 20px;
    margin-top: 10px;
    display: inline-block;
    border-width: 1px ;
    border-radius: 5px;
    border-color: #2093B4;
    border-style: solid;
    /*box-sizing: border-box;*/
    text-align: right;
}

select:focus{
    outline: none;
}
.box {
    width: 10%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    background-clip: padding-box;
    text-align: center;
}
a{
    text-decoration: none;
    color: #3d99c1;
}
button:focus{
    outline: none;
}

#submitID
{
    -webkit-appearance: none;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: #2093B4;
    background-color: white;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;

    text-align: center;
    align-items: flex-start;
    cursor: default;

    box-sizing: unset;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 0px;
    border-width: 1px ;
    border-radius: 5px;
    border-color: #2093B4;
    border-style: solid;
    width: 100%;
    height: 35px;
    margin-top: 15px;
}
#submitID:hover{
    color: white;
    background-color: #2093B4;
    cursor: pointer;
}
.productBtn{
    cursor: default;
    width: 20px;
    height: 20px;
    background-color: white;
    border: none;
    color: #2093B4;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 100%;
    margin-right: 10px;
    font-family: 'Font Awesome 5 Free';
    margin-top: 3.2%;
}
.productBtn:hover{
    color: black ;
}


/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2093B4;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 4px;
    top: 1px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}