body {
    font-family: Rubik;
    background-color: white;
    direction: rtl;
    width:100vw;
    height:100vh;
}

html{
    width:100vw;
    height:100vh;
}
#userDetailsID{
    width: 40vw;
    float: right;
    height: 100%;
}
#userDetID{
    color: #2093B4;
    height: 10%;
    margin-right:10%;
    margin-top: 29px;
}
#userimgID
{
    margin-top: 2%;
    margin-right: 35%;
    width: 30%;
    height: 60%;
}
#outlineID{
    width: 100vw;
    height: 10vh;
    background-color: #E6E7E9;

}
.outlineBtn{
    font-family: Rubik;
    width: 10vw;
    height: 100%;
    background-color: #E6E7E9;
    border: none;
    color: #2093B4;
    float: left;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 100%;
}
.outlineBtn:hover {
    background-color:#2093B4;
    color: white;
}
#projectDataID{
    width: 100vw;
    height: 90vh;
}
#projectNameID
{
    color: #2093B4;
    font-size: 120%;
    float: right;
    margin-right: 3%;
    margin-top: 3%;
}
.projecBtn{
    width: 30px;
    height: 30px;
    color: #2093B4;
    border-width: 1px ;
    border-radius: 5px;
    border-color: #2093B4;
    border-style: solid;
    background-color: white;
    float: right;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 150%;
    margin-right: 1%;
    margin-top: 2.9%;
}
.projecBtn:hover {
    /*background-color: rgba(32, 148, 180, 0.486);*/
    background-color: #2093B4;
    color: white;
    cursor: pointer;
}

#addProductBtnID{
    width: 15px;
    height:15px;
}
#editProjectBtnID{
    width: 15px;
    height:15px;
}
.productsID
{
    width: 100%;
    height: 10%;
}
.productsDataID{
    margin-top: 1%;
    margin-right: 1%;
    width: 94%;
    height: 100%;
    border-color: #2093B4;
    border-style: solid;
    border-radius: 3px;
    border-width:1px;
    float: right;
}
#projectOutlineID{
    width: 100%;
    height: 10%;
}

.productBtn{
    width: 2vw;
    height: 4vh;
    background-color: #E6E7E9;
    border: none;
    color: #2093B4;
    float: right;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 100%;
    margin-right: 1%;
    margin-top: 3.1%;
}
.productBtn:hover {
    background-color: #2093B4;
    color: white;
}
.product{
    margin-top: 0.5%;
    margin-right: 0.5%;
    width: 10%;
    height: 55%;
    border-color: #2093B4;
    float: right;
}
.productName{
    margin-top:0.2%;
    text-align: center;
    font-size: 150%;
    border-style: solid;
    border-radius: 3px;
    border-width:1px;
    color: #2093B4;
}
.productComment{
    text-align: center;
    font-size: 100%;
    color: #2093B4;
    float: right;
}
.milestone{
    margin-top: 0.5%;
    margin-right: 0.5%;
    width: 10%;
    height: 55%;
    border-color: #2093B4;
    float: right;
}
.milestoneDateDiv{
    text-align: center;
    font-size: 150%;
    color: #2093B4;
    border-style: solid;
    border-radius: 3px;
    border-width:1px;
}
.milestoneComment{
    text-align: center;
    font-size: 100%;
    color: #2093B4;
    float: right;
    padding-top: 2%;
}
.milestonestatus{
    padding-top: 1%;
    margin-top:2%;
    color: #2093B4;
    float: left;
}
.milestoneEnd{
    margin-top: 0.5%;
    margin-left: 0.5%;
    width: 10%;
    height: 55%;
    border-color: #2093B4;
    float: left;
}
#dynamicData{
    margin-right: 3%;
    margin-top: 3%;
}
.projectName{
    width: fit-content;
    display: inline-block;
    cursor: pointer;
}
.projectName:hover{
    color: #2093B4;
    text-decoration: underline;
}
.project{
    margin-bottom: 15px;
}
.editProject{
    cursor: default;
    width: 20px;
    height: 20px;
    background-color: white;
    border: none;
    color: #2093B4;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 100%;
    margin-right: 10px;
    font-family: 'Font Awesome 5 Free';
}
.editProject:hover{
    color: black ;
}





/* Layout */
.s-layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.s-layout__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: opacity 500ms;
    visibility: hidden;
    display: none;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    display: block;
    opacity: 1;
}

.popup {
    margin: 5% auto;
    padding: 20px;
    background: #fff;
    width: 25%;
    height: 55%;
    position: relative;

}

.popup h2 {
    margin-top: -10px;
    color: #2093B4;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 10px;
    left: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #2093B4;
}
.popup .content {
    max-height: 78%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: right;
}

input[type=text]{
    clear: both;
    width: 100%;
    height: 35px;
    padding: 12px 20px;
    margin-top: 10px;
    display: inline-block;
    border-width: 1px ;
    border-radius: 5px;
    border-color: #2093B4;
    border-style: solid;
    /*box-sizing: border-box;*/
    text-align: right;
}



.box {
    width: 10%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    background-clip: padding-box;
    text-align: center;
}
a{
    text-decoration: none;
    color: #3d99c1;
}